@font-face {
  font-family: "Telegrafico";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./fonts/telegrafico.woff") format("woff"),
    url("./fonts/telegrafico.woff2") format("woff2");
}
