.block_1 {
  width: 303px;
  height: 215px;
  overflow: hidden;
  position: relative;
  margin-left: 150px;
  background-size: cover;
  margin-bottom: 200px;
}
.block_2 {
  position: absolute;
  visibility: hidden;
  left: 1px;
  background-image: url(../img/zak-slider/zak-bg.png);
  font-size: 20px;
  color: white;
  width: 303px;
  height: 75px;
  top: 300px;
}

.block_2 p {
  padding-top: 35px;
  padding-left: 25px;
}
.block_1:hover .block_2 {
  visibility: visible;
  transition: 1s;
  -webkit-transition: 1s;
  transform: translatey(-160px);
  -webkit-transform: translatey(-160px);
}
.block_1:hover {
  transition: 0.6s;
  -webkit-transition: 0.6s;
}
