.card{
    width: 302px;
    height: 214px;
    position: relative;

}
.card-img{
    width: 302px;
    height: 214px;
    position: absolute;
    
}
.card-title{
    background: url(./img/zak-slider/zak-bg.png);
    position: absolute;
    width: 100px;
    height: 214px;
    margin: 0;
    padding: 0;
}