.block-thumb {
  height: 303px;
  width: 215px;
  position: relative;
}
.text-shadow{
  
}
.block-text {
  margin-top: 30px;
  margin-left: 30px;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 15pt;
  z-index: 10;
  position: absolute;
}
.block-img {
  z-index: 1;
  display: inline-block;
  overflow: hidden;
  position: absolute;
}
.block-img img {
  transition: 1.5s; /* Время эффекта */
  display: block;
}
.block-img img:hover {
  transform: scale(1.2);
}
