:root {
  --card-set-gap: 40px;
}
.slider-zar-im{
  padding: 0;
  margin: 0%;
  width: 1920px;
}
.zakaz {
  width: 1700px;
  margin-left: 116px;
  margin-right: 116px;
}
.zakaz-item {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--card-set-gap));
  margin-left: calc(-1 * var(--card-set-gap));
}
.zakaz-item > .zakaz-list {
  flex-basis: calc(100% / 5 - var(--card-set-gap));
  margin-top: var(--card-set-gap);
  margin-left: var(--card-set-gap);
}

.zakaz-name {
  font-family: "Gothaprobla" sans-serif;
  font-style: normal;
  font-size: 11pt;
  color: #000000;
  background-image: url(./img/zak-slider/zak-bg.png);
}
