:root {
  --card-set-gap: 40px;
}
.slider-zak {
  all: initial;
}
.slider-zak > img {
  all: initial;
  margin-left: -30px;
  margin-top: -23px;
}
.zakaz {
  width: 1700px;
  margin-left: 116px;
  margin-right: 116px;
  padding-bottom: 250px;
}
.zakaz-item {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--card-set-gap));
  margin-left: calc(-1 * var(--card-set-gap));
}
.zakaz-item > .zakaz-list {
  flex-basis: calc(100% / 5 - var(--card-set-gap));
  margin-top: var(--card-set-gap);
  margin-left: var(--card-set-gap);
}

.zakaz-name {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-size: 15px;
  font-weight: 500;
  color: #ffffff;
  background-image: url(./img/zak-slider/zak-bg.png);
}

.zakaz-block {
  width: 303px;
  height: 215px;
  overflow: hidden;
  position: relative;
  background-size: cover;
}
.zakaz-block2 {
  position: absolute;
  visibility: hidden;
  background-image: url(../img/zak-slider/zak-bg.png);
  width: 303px;
  height: 80px;
  top: 300px;
  text-align: center;
}

.zakaz-block2 p {
  padding-top: 35px;
}
.zakaz-block:hover .zakaz-block2 {
  visibility: visible;
  transition: 1s;
  -webkit-transition: 1s;
  transform: translatey(-160px);
  -webkit-transform: translatey(-160px);
}
.zakaz-block:hover {
  transition: 0.6s;
  -webkit-transition: 0.6s;
}
