.body {
  width: 1920px;
}
.header {
  width: 1920px;
  height: 80px;
  background-color: #e5e5e5;
  display: inline-flex;
}
.logo {
  margin-left: 280px;
  margin-top: 26px;
}
.header__list {
  margin-left: 35px;
  margin-top: 15px;
}
.header__list__name {
  font-family: "TELEGRAFICO";
  font-size: 16px;
  font-weight: bold;
  color: #808080;
}
.nav {
  margin-left: 470px;
  display: inline-flex;
}
.nav__button {
  font-family: "Gothaprobla";
  font-size: 16px;
  font-weight: 500;
}
@font-face {
  font-family: "Telegrafico";
  src: url("./fonts/TELEGRAFICO.TTF") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Gothaprobla";
  src: url("./fonts/Gothaprobla.OTF") format("truetype");
  font-style: normal;
  font-weight: normal;
}
